:root {
    --black: #282828; 
    --blue: #2892f9; 
    --red: #fb2f27;
    --yellow: #fdfe29;
}

html, body {
    margin: 0;
    padding: 0;
} 

.rings {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    border-radius: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring-1 {
    background-color: var(--black);
    width: 200px;
}

.ring-2 {
    background-color: var(--blue);
    width: 150px;
}

.ring-3 {
    background-color: var(--red);
    width: 100px;
}

.bullseye {
    background-color: var(--yellow);
    width: 50px;
}